/* css reset www.admin10000.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;  }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { /* text-decoration:underline; */ }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{
    
}
#img_logo1{
	position: relative;
	width: 50px;
    height: 100%;
    margin-right:30px;
    margin-top:-5px;
}

#img_logo2{
	position: absolute;
	width: 100%;
}
#welcome_row{
    margin-top: 30px;
    margin-bottom: 30px;
}
#welcome{
    padding: 10px;
    
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#top-link-block {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}
.form-control{
    width:100%;
    max-width:196px;
    
}
.center_input{
    text-align:center;
}

.small{
    margin:15px;
    width:60%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.active{
  background: #337ab7;
  border-radius: 5px; }

.navbar-nav .active a:hover{
    background: #3B92EB;
    border-radius: 5px;
}
.active a{
  color: white;
}

.panel{
    
    margin-top:30px;

}
#location{
  margin-top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
#mapIntro{

  margin:0 auto;
}
<<<<<<< HEAD

/*#copyright{
   
    bottom:10px
}*/
=======
.footer {
  margin-top:10%;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
.modal-open{
   overflow: hidden !important; 
   padding: 0px !important;
}
 .modal-open .modal{
   overflow: hidden !important; 
}
>>>>>>> db31cced09604270c928c6d38b4ee33132134c8e
